.word-container {
    color: #333;
    margin-top: 0px; 
    text-align: center;
    font-size: 25px;
}

.displayed-word {
    font-size: 84px; 
}
.buttons-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    margin: 10px 0;
}